.nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #040404;
    box-shadow:  
    0 0 5px rgb(255, 253, 253),
    0 0 10px rgb(226, 221, 244),
    0 0 15px rgb(246, 245, 248),
    0 0 20px rgb(78, 56, 187),
    0 0 25px rgb(190, 185, 255),
    0 0 30px rgb(88, 62, 255);
}


.opcion {
    text-align: center;
    padding: 57px 0px;
    text-decoration: none;
    float: left;
}

.to{
    background-color: #070707;
    color: #ffffff;
    text-decoration: none;
    border: #f5f0ee solid 1px;
    padding: 5px;
    border-radius: 10px;
    font-size: 21px;
    font-family: monospace;
    box-shadow:  
    0 0 5px rgb(255, 253, 253),
    0 0 10px rgb(226, 221, 244),
    0 0 15px rgb(246, 245, 248),
    0 0 20px rgb(78, 56, 187),
    0 0 25px rgb(190, 185, 255),
    0 0 30px rgb(88, 62, 255);
}

.to:hover {
    background-color: #09054d;
}

.to:active {
    background-color: rgb(57, 26, 150);
    box-shadow:  
    0 0 5px rgb(255, 253, 253),
    0 0 10px rgb(226, 221, 244),
    0 0 15px rgb(246, 245, 248),
    0 0 20px rgb(78, 56, 187),
    0 0 25px rgb(190, 185, 255),
    0 0 30px rgb(88, 62, 255);
    transform: translateY(2px);
}

.search{
    padding: 0;
    margin: 0 16px;
}

.gif {
    display: table-cell;
    padding-top: 0.5vw;
    width:19vw;
    margin: -34px;
    height: auto;
    
}

.imagencita {
    justify-content: center;
    position: relative;
    margin: 0 40px 0 0;
    height: auto;
    width: auto;
    
}

.busqueda {
    padding: 0;
    
}

.btn {
    text-align: center;
    padding: 57px 0px;
    text-decoration: none;
    float: right;
    color: #fff;
    text-decoration: none;
    border: #ffffff solid 1px;
    padding: 5px;
    border-radius: 10px;
    font-size: 21px;
    font-family: monospace;
    background: bottom;
    margin: 50px 10px 0px;
    cursor: pointer;
    box-shadow:  
    0 0 5px rgb(255, 253, 253),
    0 0 10px rgb(226, 221, 244),
    0 0 15px rgb(246, 245, 248),
    0 0 20px rgb(78, 56, 187),
    0 0 25px rgb(190, 185, 255),
    0 0 30px rgb(88, 62, 255);
}

.btn:hover {
    background-color: #09054d;
}

.btn:active {
    background-color: rgb(57, 26, 150);
    box-shadow:  
    0 0 5px rgb(255, 253, 253),
    0 0 10px rgb(226, 221, 244),
    0 0 15px rgb(246, 245, 248),
    0 0 20px rgb(78, 56, 187),
    0 0 25px rgb(190, 185, 255),
    0 0 30px rgb(88, 62, 255);
    transform: translateY(2px);
}

