.titulo {
    font-family: monospace;
    color: rgb(255, 255, 255);
    font-size: 45px;
    margin-top: 30px;
}

.pregunta {
    font-family: monospace;
    font-size: 25px;
    color: darkgray;
}

.mini_box{
    display: flex;
    justify-content: center;
    margin: 25px;
}

.nav{
    margin: 15px;
    color: #fff;
    text-decoration: none;
    border: #fff;
    padding: 8px;
    width: 7%;
    font-family: monospace;
    margin-top: 15px;
    background: black;
    border-radius: 0px;
    box-shadow:  
    0 0 5px rgb(255, 253, 253),
    0 0 10px rgb(226, 221, 244),
    0 0 15px rgb(246, 245, 248),
    0 0 20px rgb(78, 56, 187),
    0 0 25px rgb(190, 185, 255),
    0 0 30px rgb(88, 62, 255);
}